/* MakcimkaBro 2020 */
/* Блоки

- Header
- Menu links
- Top products
-- Slider
-- Grid
- Footer
*/


/* Global styles */
*{
border-radius: 0 !important;
/* border: 1px solid red; */
}
body{
background: #252525 !important;
padding: 0;
margin: 0;
overflow-x: hidden;
}
.container-fluid{}
/* .row{border: 1px solid red;} */


h1{font-size: 1.25em !important;}
h2{font-size: 1em !important;}
h3{font-size: .8em !important;}
h4{font-size: .65em !important;}

p{font-size: 12px; padding: 0 !important; margin: 0 !important;}

button{width: 18rem !important;}
.btn{border: 0 !important;}
.btn-red{
  background: #FF0000 !important;
  color: #EEEEEE !important;
}

/* Header */
.header{
  width: 100vw;
}
.bg-header{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 20vw;
  max-height: 30vw;
  min-height: 10vw;
  background-image: url(../img/pattern.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header .card{
  display: block;
  position: relative;
  width: 22rem;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #252525 !important;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  color: #EEEEEE;
  margin-top: 10vw;
  z-index: 9999;
}
.header .card a{color: #EEEEEE; }
.header .card a:hover{
  color: #FF0000;
  text-decoration: none;
  text-align: left;
}
.header .card a i{padding-right: 10px;}
.header .contact-info{
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.header .contact-info li{
  list-style-type: none;
}
.header .btn-viber, .btn-fb{width: 140px !important;}
.header .btn-viber a:hover, .header .btn-fb a:hover{color: #EEEEEE;}
.header .card .btn{border: 0;}
.header .btn-viber{background: #675DA9 !important; color: #EEEEEE; }
.header .btn-viber:hover{ background: #453E78 !important; }
.header .btn-fb{ background: #0062E0 !important; color: #EEEEEE; }
.header .btn-fb:hover{background: #003578 !important}

/* Menu links styles */
.menu-links{margin-top: 10%;}
.menu-links button{
  margin-left: auto;
  margin-right: auto;
  background-color: #EEEEEE;
  color: #FF0000;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}
.menu-links a{
  color: #FF0000 !important;
}
.menu-links button:hover{
  background-color: #FF0000;
  border: none;
}
.menu-links button:hover a{
  color: #EEEEEE !important;
  text-decoration: none;
}
.card-title{padding: 0;}

/* Top products */
/* Slider styles */
.top-products h2{
  text-transform: uppercase;
  padding: 20px;
}
.slide{overflow: hidden; height: auto;}
.carousel-item{max-height: 260px; }
.slide{ align-items: center; }
.carousel-control-next, .carousel-control-prev{width: auto !important;}
.carousel-item .card{
  background-color: rgba(0, 0, 0, .0);
  border: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.carousel-item .card{color: #EEEEEE}
.prev-img-products{
  width: 180px;
  height: 180px;
}
.carousel .card-body{
}
.carousel-control-prev{
  bottom: 0vw !important;
}
.carousel-control-next{
  bottom: 0vw !important;
}

/* Grid products styles */
.grid-products .card-body{
  overflow: hidden;
}
.carousel-item .card .card-img{
  width: 100% !important;
  height: 100% !important;
  object-fit:cover;
}
.card-body .btn-price{
  background: #FF0000 !important;
  color: #EEEEEE;
  font-weight: bold;
}
.card-body .btn-open{
  background: #4B4D4C !important;
  color: #252525;
  font-weight: bold;
}
.grid-products .card{
  width: 18rem;
  height: 18rem;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover !important;
}
.grid-products .card h3{
  width: 13rem;
  white-space: nowrap;
  overflow: hidden;
  color: #EEEEEE;
  text-transform: uppercase;
}
.grid-products .card .card-text{
  color: #EEEEEE;
  max-height: 60px;
  overflow: hidden;
  width: 100%;
}
.grid-products .card-body{padding: 0 5% 0 2%;}
.grid-products .btn{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
}
.grid-products .card-body::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
.grid-products .card-body .text-card{
  display: inline-block;
  position: relative;
  top: 55%;
}
.open-all{
  font-size: .8rem !important;
  width: 100px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
  margin-top: 5vw;
}




/* Footer style */
.footer{
  color: #EEEEEE;
  padding-top: 15vw;
}
.footer .copyright-text{
  font-size: 12px;
}
.footer .dev-info{
  font-size: 10px;
}
.footer .dev-info a{
  color: #FF0000;
}
