body{
  background: #252525 !important;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
.container-fluid{
  padding: 0;
  margin: 0;
}
*{
  border-radius: 0 !important;
  /* border: 1px solid blue; */
}
.header{
  background-image: url(../img/pattern.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  justify-content: center;
}
.header .card{
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #252525 !important;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  color: #EEEEEE;
  margin-top: 10vw;
}
.header .card h5{margin: 0; padding: 0;}
.header .card p{font-size: 12px;}
.card a{
  color: #EEEEEE;
}
.card a:hover{
  color: #FF0000;
  text-decoration: none;
  text-align: left;
}
.card a i{padding-right: 10px;}
.contact-info{
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.contact-info li{
  list-style-type: none;
}
.btn-viber, .btn-fb{width: 140px !important;}
.btn-viber a:hover, .btn-fb a:hover{color: #EEEEEE;}
.card .btn{border: 0;}
.btn-viber{
  background: #675DA9 !important;
  color: #EEEEEE;
}
.btn-viber:hover{
  background: #453E78 !important;
}
.btn-fb{
  background: #0062E0 !important;
  color: #EEEEEE;
}
.btn-fb:hover{background: #003578 !important}
.link-menu{
  justify-content: center;
  text-align: center;
}
.link-menu button{
  background-color: #EEEEEE;
  color: #FF0000;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}
.link-menu a{
  color: #FF0000 !important;
}
.link-menu button:hover{
  background-color: #FF0000;
  border: none;
}
.link-menu button:hover a{
  color: #EEEEEE !important;
  text-decoration: none;
}
.card-title{padding: 0;}
.top-products h2{
  text-transform: uppercase;
  padding: 20px;
}
.slide{overflow: hidden; height: auto;}
.carousel-item{max-height: 260px; }
.slide{
  align-items: center;
}
.carousel-control-next, .carousel-control-prev{width: auto !important;}
.carousel-item .card{
  background-color: rgba(0, 0, 0, .0);
  border: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.carousel-item .card{color: #EEEEEE}
.prev-img-products{
  width: 180px;
  height: 180px;
}
.carousel-item .card .card-img{
  width: 100% !important;
  height: 100% !important;
  object-fit:cover;
}
.card-body .btn-price{
  background: #FF0000 !important;
  color: #EEEEEE;
  font-weight: bold;
}
.card-body .btn-open{
  background: #4B4D4C !important;
  color: #252525;
  font-weight: bold;
}
.footer{
  color: #EEEEEE;
  border: 1px solid red;
}
